﻿@model IEnumerable<LibraryItem>
@{
    Layout = "_Layout";
}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="Books"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">Books</a>
            </h4>
            <h5>First, Last Name</h5>
            <p>225 page(s)</p>
            <p>ISBN: Some isbn </p>
            <p class="card-text">Books available in our Library</p>
            <p class="card-text">All publishers</p>

        </div>
        <div class="card-footer">
            <div class="row d-flex justify-content-between">
                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="Magazines"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">Magazines</a>
            </h4>
            <h5>First, Last Name</h5>
            <p>132 page(s)</p>
            <p>ISBN: Some isbn </p>
            <p class="card-text">Magazines available in our Library</p>
            <p class="card-text">All publishers</p>

        </div>
        <div class="card-footer">
            <div class="row d-flex justify-content-between">
                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="Multimedia"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">Multimedia</a>
            </h4>
            <h5>First, Last Name</h5>
            <p>Total length: 01:05:35</p>
            <p class="card-text">Multimedia available in our Library</p>
            <p class="card-text">All publishers</p>

        </div>
        <div class="card-footer">
            <div class="row d-flex justify-content-between">
                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>