﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Library Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/content/styles.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="LibraryItems" asp-action="Index">Library Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-controller="Authors" asp-action="Index">Authors</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="PublishCompanies" asp-action="Index">Publishers</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @*Render search panel*@
                <h1 class="my-4">Search</h1>
                <form asp-controller="LibraryItems" asp-action="Search" method="post" asp-antiforgery="true">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="FullName" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="LastName" placeholder="Artist Last Name">
                    </div>

                    <div class="form-group">
                        <label>Isbn</label>
                        <input type="text" class="form-control" name="Isbn" placeholder="9780672317248">
                    </div>

                    <div class="form-group">
                        <label>Tags</label>
                        <input type="text" class="form-control" name="Tags" placeholder="Tags">
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <input type="text" class="form-control" name="Publisher" placeholder="Publisher">
                    </div>
                    <button type="submit" class="btn btn-primary" value="Search">Search</button>
                </form>
            </div>

            <div class="col-lg-9">
                @RenderBody()
            </div>

        </div>


    </div>

    <footer class="py-5 bg-white">
        @*<div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Library Manager 2020</p>
            </div>*@
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>
