﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Library Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/content/styles.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="LibraryItems" asp-action="Index">Library Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-2 offset-1">
                @*Render search panel*@
                <div class="row">
                    <span style="font-size: 10em; color: blue;">
                        <i class="fas fa-book text-center"></i>
                    </span>

                </div>
                <div class="row">
                    <span style="font-size: 10em; color: green;">
                        <i class="fas fa-record-vinyl"></i>
                    </span>
                </div>
                <div class="row">
                    <span style="font-size: 10em; color: red;">
                        <i class="far fa-newspaper"></i>
                    </span>
                </div>

            </div>

            <div class="col-lg-9">
                @RenderBody()
            </div>

        </div>


    </div>

    <footer class="py-5 bg-white">
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>
