﻿@model LibraryItem
@{
    var src = "";
    src = Model.ImageUrl != null ? $"/images/{Model.ImageUrl}" : "http://placehold.it/700x400";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="@src" alt="@Model.Description"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="LibraryItems" asp-action="Detail" asp-route-itemId="@Model.LibraryItemId">@Model.FullName</a>
            </h4>
            <h5>@Model.Author.FirstName @Model.Author.LastName</h5>
            @if (Model.Length != null)
            {
                <p>Total length: @Model.Length</p>
            }
            else
            {
                <p>@Model.NumberOfPages page(s)</p>
                <p>ISBN: @Model.Isbn</p>
            }
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.PublishCompany.Name</p>
            <p class="card-text">
                <partial name="_TagsPartial" model="@Model.Tags" />

            </p>

        </div>
        <div class="card-footer">
            <div class="row d-flex justify-content-between">
                <a asp-action="Edit" asp-controller="LibraryItems" asp-route-itemId="@Model.LibraryItemId" class="btn btn-primary btn-sm">Edit</a>
                <a asp-action="Delete" asp-controller="LibraryItems" asp-route-itemId="@Model.LibraryItemId" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>