﻿@model LibraryItem
<tr>
    <td>@Model.LibraryItemId</td>
    <td><a>@Model.FullName</a></td>
    <td>@Model.Author.FirstName</td>
    <td>@Model.Author.LastName</td>
    <td>@Model.LibraryType.LibraryTypeName</td>
    <td>@Model.PublishCompany.Name</td>
    <td><a asp-action="Edit" asp-controller="LibraryItems" asp-route-itemId="@Model.LibraryItemId" class="btn btn-primary btn-sm">Edit</a></td>
    <td><a asp-action="Delete" asp-controller="LibraryItems" asp-route-itemId="@Model.LibraryItemId" class="btn btn-danger btn-sm">Delete</a></td>
</tr>

