﻿@model IEnumerable<MultimediaLibrary.Models.Entities.PublishCompany>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublishCompanyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublishCompanyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublishCompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
