﻿@model LibraryItemViewModel
@{
    Layout = "_Layout3";
}

<div class="row">
    <div class="col-12">
        <h3>New resource</h3>
        <form asp-action="Add" asp-controller="LibraryItems" asp-antiforgery="true" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="AuthorId"></label>
                    <select class="form-control" asp-for="AuthorId" asp-items="@Model.Authors">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LibraryTypeId"></label>
                    <select class="form-control" asp-for="LibraryTypeId" asp-items="@Model.LibraryTypes">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="LibraryTypeId" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input type="text" class="form-control" asp-for="FullName" placeholder="Title">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description" placeholder="Short description" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="Tags"></label>
                    <textarea class="form-control" asp-for="Tags" placeholder="Tags" rows="3"></textarea>
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                @if (Model.LibraryTypeId == 0)
                {
                    <div class="form-group col-md-4" id="papers-isbn">
                        <label asp-for="Isbn"></label>
                        <input type="text" role="textbox" class="form-control" asp-for="Isbn" asp-format="" placeholder="9780672317248">
                        <span asp-validation-for="Isbn" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2" id="papers-pages">
                        <label asp-for="NumberOfPages"></label>
                        <input type="text" class="form-control" asp-for="NumberOfPages" placeholder="123">
                        <span asp-validation-for="NumberOfPages" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6" id="multimedia">
                        <label asp-for="Length"></label>
                        <input type="text" class="form-control" asp-for="Length" placeholder="hh:mm:ss">
                    </div>
                }
                else if (Model.LibraryTypeId != 3)
                {
                    <div class="form-group col-md-4" id="papers-isbn">
                        <label asp-for="Isbn"></label>
                        <input type="text" role="textbox" class="form-control" asp-for="Isbn" asp-format="" placeholder="9780672317248">
                        <span asp-validation-for="Isbn" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2" id="papers-pages">
                        <label asp-for="NumberOfPages"></label>
                        <input type="text" class="form-control" asp-for="NumberOfPages" placeholder="123">
                        <span asp-validation-for="NumberOfPages" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-6" id="multimedia">
                        <label asp-for="Length"></label>
                        <input type="text" class="form-control" asp-for="Length" placeholder="hh:mm:ss">
                    </div>
                }

                <div class="form-group col-md-6">
                    <label asp-for="PublishCompanyId"></label>
                    <select class="form-control" asp-for="PublishCompanyId" asp-items="@Model.PublishCompanies">
                        <option value="">Select...</option>
                    </select>
                    <span asp-validation-for="PublishCompanyId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CoverImage" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="CoverImage" class="custom-file-input" id="customFile" accept=".jgp,.png">
                        <label class="custom-file-label" for=""></label>
                    </div>
                    <span asp-validation-for="CoverImage" class="text-danger"></span>
                </div>
            </div>


            <h2>Resource details</h2>
            <hr />
            <table id="submissionTable" class="table table-borderless">
                <thead>
                    <tr>
                        <td class="text-center">Oridinal Number</td>
                        <td class="text-center">Item Content</td>
                    </tr>

                </thead>

                <tr id="tablerow0">
                    <td>
                        <input class="form-control" name="OridinalNumber[0]" type="text" value="" />
                    </td>
                    <td>
                        <input class="form-control" name="ItemContent[0]" type="text" value="" />

                    </td>
                    <td>
                        <button type="button" onclick="removeTr(0);" class="btn btn-danger mb-2">Remove</button>

                    </td>
                </tr>

            </table>
            <p>
                <button id="add" type="button" class="btn btn-primary mb-2">Add another</button>

            </p>
            <hr />


            <div class="row">
                <div class="form-group col-md-6">
                    <div>
                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).on("change",
            "#LibraryTypeId",
            function () {
                if ($(this).val() !== '3') {
                    $('#papers-pages').show();
                    $('#papers-isbn').show();
                    $('#multimedia').hide();
                } else {
                    $('#papers-pages').hide();
                    $('#papers-isbn').hide();
                    $('#multimedia').show();


                }
            });

        var counter = 1;
        $(function () {

            $('#add').click(function () {
                $('<tr id="tablerow' + counter + '"><td>' +
                    '<input type="text" class="form-control" name="OridinalNumber[' + counter + ']" value=""  />' +
                    '</td>' +
                    '<td>' +
                    '<input type="text" class="form-control" name="ItemContent[' + counter + ']" value=""  />' +
                    '</td>' +
                    '<td>' +
                    '<button type="button" class="btn btn-danger mb-2" onclick="removeTr(' + counter + ');">Remove</button>' +
                    '</td>' +
                    '</tr>').appendTo('#submissionTable');

                counter++;
                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        }
    </script>

}
