﻿@model FullLibraryItemViewModel
@{
    Layout = "_Layout3";

    var src = Model.LibraryItem.ImageUrl != null ? $"/images/{Model.LibraryItem.ImageUrl}" : "http://placehold.it/900x400";

}
<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="@src" alt="@Model.LibraryItem.FullName">
        <div class="card-body">
            <h3 class="card-title">@Model.LibraryItem.FullName</h3>
            <p class="card-text">@Model.LibraryItem.Author.FirstName @Model.LibraryItem.Author.LastName</p>
            <p class="card-text">@Model.LibraryItem.Description</p>
            @if (Model.LibraryItem.LibraryItemId != 3)
            {
                <p class="card-text">@Model.LibraryItem.NumberOfPages page(s)</p>
                <p class="card-text">ISBN: @Model.LibraryItem.Isbn</p>
            }
            else
            {
                <p class="card-text">Total length:@Model.LibraryItem.Length</p>
            }
            <small class="text-muted">@Model.LibraryItem.PublishCompany.Name</small>
        </div>
        <div class="card-footer">
            <p class="card-text">
                <partial name="_TagsPartial" model="@Model.LibraryItem.Tags" />
            </p>
        </div>
    </div>
    <!-- /.card -->

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Table of contents
        </div>
        <div class="card-body">
            <ol>
                @foreach (var itemContent in Model.LibraryItemContents)
                {
                    <li><p>@itemContent.ItemContent</p></li>

                }
            </ol>
        </div>
    </div>

    <!-- /.card -->

</div>
