﻿@model IEnumerable<LibraryItem>
@{
    Layout = "_Layout3";
}

<div class="row">
    <div class="col-9" style=" margin-top: 10px;">
        Group by:
        <a asp-action="Index" asp-route-itemId="type" asp-route-displayMode="@ViewBag.ViewMode" class="btn btn-primary btn-sm">Type</a>
        <a asp-action="Index" asp-route-itemId="author" asp-route-displayMode="@ViewBag.ViewMode" class="btn btn-primary btn-sm">Author</a>
        <a asp-action="Index" asp-route-itemId="tag" asp-route-displayMode="@ViewBag.ViewMode" class="btn btn-primary btn-sm">Tag</a>
        <a asp-action="Index" asp-route-itemId="publisher" asp-route-displayMode="@ViewBag.ViewMode" class="btn btn-primary btn-sm">Publisher</a>
    </div>
    <div class="col-3 justify-content-end">
        <a asp-action="Index" asp-route-displayMode="thumbnails">
            <span style="font-size: 2em; margin-top: 10px;">
                <i class="fas fa fa-th"></i>
            </span>
        </a>
        <a asp-action="Index" asp-route-displayMode="list">
            <span style="font-size: 2em; margin-top: 10px; ">
                <i class="fas fa-list"></i>
            </span>
        </a>
        <a asp-action="Add" asp-controller="LibraryItems">
            <span style="font-size: 2em; margin-top: 10px;">
                <i class="fas fa-plus-circle"></i>
            </span>
        </a>
    </div>
</div>




<hr />
<div class="row">
    @if (@ViewBag.ViewMode == "thumbnails")
    {
        foreach (var item in Model)
        {
            <partial name="_LibraryItem" model="item" />
        }
    }
    else
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Resource type</th>
                    <th>Publisher</th>
                    <th>Edit action</th>
                    <th>Delete action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <partial name="_ListTypeLibratyItem" model="item" />
                }
            </tbody>
        </table>
    }

</div>
